<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        {%block head%}
            <title>{{title_tag}}</title>
        {%endblock%}

        {%block iframe_resize_script%}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
            <script>
                // resize iframes to fit their contents
                $(function() {
                    $('iframe').bind('load', function() {
                        var iframe = $(this);
                        setTimeout(function() {
                            var height = iframe.contents().height();
                            var width = iframe.contents().width();
                            iframe.css({"height": height+"px", "width": width+"px"});
                        }, 100);
                    });
                });
            </script>
        {%endblock%}
    </head>

    <body>
        {%block body%}
        {%endblock%}
    </body>
</html>
