{%extends "base.html"%}

{%block head%}
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/reset-fonts-grids/reset-fonts-grids.css"/>
    <title>{{dashboard.title}}</title>
{%endblock%}

{%block body%}
    <div id="doc3" class="yui-t7">
        <div id="hd">{%block yui-hd%}{%endblock%}</div>
        <div id="bd" role="main">
            {%for grid_type,gadgets in dashboard.gadget_rows%}
                <div class="{{grid_type}}">
                    {%for gadget,queryargs in gadgets%}
                    <div class="yui-u {%if forloop.first%}first{%endif%}">

                        <iframe src="{{STATIC_URL}}{{gadget.document_root}}/index.html{{queryargs}}" scrolling="no" frameBorder="0"></iframe>

                    </div>
                    {%endfor%}
                </div>
            {%endfor%}
        </div>
        <div id="ft">{%block yui-ft%}{%endblock%}</div>
    </div>
{%endblock%}
