{%extends "dashboard/base.html"%}

{%block yui-hd%}
    {{dashboard.header_html|safe}}
{%endblock%}


{%block yui-bd%}

    {%for grid_type,gadgets in dashboard.gadget_rows%}
        <div class="{{grid_type}}">
            {%for gadget in gadgets%}
            <div class="yui-u {%if forloop.first%}first{%endif%}">

                <iframe src="{{STATIC_URL}}{{gadget.document_root}}/index.html" scrolling="no" frameBorder="0"></iframe>

            </div>
            {%endfor%}
        </div>
    {%endfor%}

{%endblock%}


{%block yui-ft%}
    {{dashboard.footer_html|safe}}
{%endblock%}
